/*@keyframes cursor {
    50%{ border-color : transparent;}
}*/

body { 
    animation: fadein 0.7s;
}

.js-about{
    max-width : 50%;
    margin-left : 15%;
    padding-top: 30px;
}


.js-about span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size : 70px;
    color : white;
    transition: 1s;
    font-weight: 800;
}

.js-about span:hover{
    font-size : 80px;
}

/*.js-about h1{
    font-family: 'Noto Sans KR', sans-serif;
    font-size : 32px;
    color : white;
    transition: 0.5s;
    display: table-cell;
    vertical-align: middle;
    animation: cursor 0.5s ease infinite;
    border-right: .05em solid white;
}*/

.js-quote1{
    max-width : 100%;
    margin-bottom: 1rem;
}

.quote-container{
    padding-top : 100px;
    padding-left : 100px;
    font-size : 25px;
    color : white;
    margin-left : 7%;
}